# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom
.buildlog
.history
.svn
.idea
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.keystore
*.jks
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
.generated/
Pods/
!ios/Runner/GeneratedPluginRegistrant.h
!ios/Runner/GeneratedPluginRegistrant.m

# Exceptions
!build/app/outputs/flutter-apk/app-release.apk
